.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  .category-title {
    font-size: 1.6rem;
    font-weight: 700;

    margin-bottom: 1.5rem;

    cursor: pointer;
    text-transform: uppercase;

    letter-spacing: 1px;
  }

  .preview {
    display: grid;
    gap: 1.5rem;

    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
}
